@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

    #menu-h ul {
        max-width: 800px;
        list-style: none;
        padding: 0;
    }

        #menu-h ul li {
            display: inline;
        }


            #menu-h ul li a {
                color: #FFF;
                padding: 20px;
                display: inline-block;
                text-decoration: none;
                transition: background .4s;
            }

                #menu-h ul li a:hover {
                    background-color: rgb(24, 139, 233);
                }

            #menu-h ul li:last-child a {
                float: right;
                background-color: rgb(24, 139, 233);
            }

.menu_div {
    background-color: rgb(37, 37, 39);
    padding-top: 0px;
    max-width: 100%;
}

.ul {
    /*max-width: 95%;
        padding: 20px;
        list-style: none;
        background-color: white;*/
    display:inline;
    list-style: none;
    max-width: 100%;  
    padding:20px;
    /*border: 1px solid #c0c0c0;*/
    /*float: center;*/
}

    .ul li {
        /* background-color: red;*/
        width: 150px;
        display: inline-block;
        position: relative;
        /*float: left;*/
        /*border-right: 1px solid #c0c0c0;*/
    }

        .ul li a {
            /*  text-decoration: none;
            display: block;
            padding: 5px 10px;*/
            color: #FFF;
            opacity: 0.7;
            text-decoration: none;
            padding: 5px 10px;
            display: block;
        }

            .ul li a:hover {
                background: #333;
                color: #fff;
                -moz-box-shadow: 0 3px 10px 0 #CCC;
                -webkit-box-shadow: 0 3px 10px 0 #ccc;
                text-shadow: 0px 0px 5px #fff;
                opacity: 10;
            }

        .ul li ul {
            position: absolute;
            top: 30px;
            left: 0;
            background-color: transparent;
            display: none;
           
        }

        .ul li:hover ul, .ul li.over ul {
            display: block;
        }

        .ul li ul li {
            border: 1px solid #c0c0c0;
            display: block;
            width: 150px;
        }


#li3 {
    background-color: red;
    width: 100px;
    display: inline-block;
}

#ul3 {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}



#li3:hover a:hover ul, #li3 a.over ul {
    display: block;
    background-color: white;
}
