@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.divMenuPrincipal {
    height: 60px;
    display: inline-flex;
    width: 100%;
    
}

.divMenuLogo {    
    height: 60px;
    background-color: #343434 !important;
    width: 10%;
    color: white;
}


.divMenu {
    height: 60px;
    background-color: #343434;
    width: 85%;
}


.divMenuUsuario {
    height: 60px;
    background-color: #343434;
    width: auto;
    color: white;
    align-items: center;
}

.divMenuFinal {
    height: 60px;
    background-color: #343434;
    width: 5%;
    color: white;
    align-items: center;
}

#nav {
    list-style: none inside;
    margin: 0;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: #343434;
}

    #nav li {
        display: block;
        position: relative;
        float: left;
        background-color: #343434;
        /* menu background color */
    }

        #nav li a {
            display: block;
            padding: 0;
            text-decoration: none;
            width: 100px;
            /* this is the width of the menu items */
            line-height: 35px;
            /* this is the hieght of the menu items */
            color: #ffffff;
            opacity: 0.6;
            /* list item font color */
        }

        #nav li li a {
            font-size: 90%;
        }

        /* smaller font size for sub menu items */

        #nav li:hover {
        }

        #nav li a:hover {
            opacity: 0.9;
        }

    /* highlights current hovered list item and the parent list items when hovering over sub menues */

    #nav ul {
        position: absolute;
        padding: 0;
        left: 0;
        display: none;
        
        /* hides sublists */
    }

    #nav li:hover ul ul {
        display: none;
     
    }

    /* hides sub-sublists */

    #nav li:hover ul {
        display: block;
    }

    /* shows sublist on hover */

    #nav li li:hover ul {
        display: block;
        /* shows sub-sublist on hover */
        margin-left: 100px;
        /* this should be the same width as the parent list item */
        margin-top: -35px;
        /* aligns top of sub menu with top of list item */
        width:auto;
       
    }
